{% extends 'base.html' %}
{% block content %}
  <div class="wrapper" style="align-items: center;">
    <div>
      <p style="text-align: justify;">  XX Всероссийское Совещание «Электрохимия органических соединений» ЭХОС-2022 проводится в рамках Мероприятия «Реализация новых творческих, социально-гуманитарных проектов» стратегического проекта <b>«Системы водородной энергетики»</b> программы развития Южно-Российского государственного политехнического университета (НПИ) имени М.И. Платова <b>в рамках реализации программы стратегического академического лидерства «Приоритет-2030»</b></p>
    </div>
    <div>
      <img src="{{ url_for('static', filename='img/priority.png') }}" alt="Логотип Приоритет 2030" style="width: 90%; padding-left: 30px;">
    </div>
  </div>
  <h2>Дорогие коллеги!</h2>
  <p>Приглашаем Вас принять участие в Юбилейном XX Всероссийском Совещании «Электрохимия органических соединений» ЭХОС-2022, которое будет проходить с 18 по 22 октября 2022 года на базе Южно-Российского государственного политехнического университета (НПИ) имени М.И. Платова (Новочеркасск, Россия).</p>
  <p>Целью совещания является обсуждение последних достижений в области электрохимии органических и элементоорганических соединений, водородной энергетики, технологий углеродной нейтральности и малотоннажной химии, которые будут способствовать прогрессу в этой важной с теоретической и практической точки зрения области знаний.</p>
  <p>Научная программа ЭХОС-2022 будет включать приглашенные пленарные доклады (40 минут), устные доклады (15 минут) и стендовые доклады.</p>
  <br>
  <p><b>Основные направления:</b></p>
  <ul>
    <li>Механизмы электрохимических превращений органических и элементоорганических соединений</li>
    <li>Металл-катализируемый электросинтез, включая реакции кросс-сочетания и С-Н активации</li>
    <li>Медиаторный, парный, энантиоселективный электросинтез</li>
    <li>Электрохимическая полимеризация и электропроводящие полимеры, электромембранные процессы</li>
    <li>Электрохимия органических соединений в технологиях углеродной нейтральности, включая электрохимические технологии переработки СО2</li>
    <li>Фундаментальные и прикладные аспекты электрохимических технологий водородной энергетики и химических источников тока</li>
    <li>Фото-, био- и электрокатализ</li>
    <li>Новые технологии и подходы в электрохимии органических соединений: электродные материалы, электролиты, ячейки, электролизёры, гальванические и антикоррозионные покрытия</li>
    <li>Экологические проблемы электрохимических производств</li>
    <li>Электрохимия органических соединений для решения проблем малотоннажной химии</li>
  </ul>
  <p>В рамках Совещания ЭХОС-2022 будет проведен круглый стол «Катализ для решения проблем энергетики и экологии», посвящённый возникновению и развитию научного направления по катализу в ЮРГПУ(НПИ): к 120–летию со дня рождения <b>профессора Ильина К.Г.</b> и к 50-летию создания лаборатории <b>«Катализ и каталитические реакции»</b>.</p>
{% endblock %}
