{% extends 'base.html' %}
{% block content %}
<h2>Научный комитет</h2>
<p><b>Председатели:</b></p>
<ul>
  <li>Анаников В.П. – академик РАН, д.х.н., профессор (ИОХ РАН, г. Москва)</li>
  <li>Ярославцев А.Б. – член-корр. РАН, д.х.н, профессор (г. Москва, ИОНХ РАН)</li>
  <li>Добровольский Ю.А. – д.х.н., профессор (ИПХФ РАН, г. Черноголовка)</li>
  <li>Кривенко А.Г. – д.ф.-м.н., профессор (ИПХФ РАН, г. Черноголовка)</li>
</ul>
<p><b>Члены научного комитета:</b></p>
<ul>
  <li>Будникова Ю.Г. – д. х. н. (ИОФХ им. Арбузова РАН, г. Казань)</li>
  <li>Гринберг В.А. – д. х. н., профессор (ИФХЭ РАН, г. Москва)</li>
  <li>Гутерман В.Е. – д. х. н., профессор (ЮФУ, г. Ростов-на-Дону) </li>
  <li>Емец В.В. – д. х. н., профессор (ИФХЭ РАН, г. Москва) </li>
  <li>Жукова И.Ю. – д.т.н., профессор (ДГТУ, г. Ростов-на-Дону) </li>
  <li>Золотухина Е.В. – д. х. н., профессор (ИПХФ РАН, г. Черноголовка) </li>
  <li>Колзунова Л.Г. – д. х. н., профессор (ИХ ДВО РАН, г. Владивосток) </li>
  <li>Кондратьев В.В. – д. х. н., профессор (СПбГУ, г. Санкт-Петербург) </li>
  <li>Кононенко Н.А. – д. х.н., профессор (КубГУ, г. Краснодар) </li>
  <li>Корниенко В.Л. – д. х. н., профессор (ИХХТ СО РАН, г. Красноярск) </li>
  <li>Магдесиева Т. В. – д. х. н., профессор (МГУ, г. Москва) </li>
  <li>Мендкович А.С. – д. х. н., профессор (ИОХ РАН, г. Москва) </li>
  <li>Парфенюк В.И. – д. х. н., профессор (ИХР РАН, г. Иваново) </li>
  <li>Савостьянов А.П. – д.т.н, профессор (ЮРГПУ(НПИ), г. Новочеркасск)</li>
  <li>Смирнова Н.В. – д.х.н, профессор (ЮРГПУ(НПИ), г. Новочеркасск)</li>
  <li>Смолянинов И.В.– д.х.н. (АГТУ, г. Астрахань) </li>
  <li>Стенина Е.В. - д. х. н., профессор (МГУ, г. Москва) </li>
  <li>Турыгин  В.В.  – д.х.н, (ГосНИИОХТ, г. Москва)</li>
  <li>Чернышев В.М. – д.х.н, (ЮРГПУ(НПИ), г. Новочеркасск)</li>
  <li>Шинкарь Е.В. – д. х. н. (АГТУ, г. Астрахань) </li>
  <li>Элинсон М.Н. – д. х. н. (ИОХ РАН, г. Москва) </li>
  <li>Янилкин В.В. – д. х. н. (ИОФХ им. Арбузова РАН, г. Казань) </li>
  <li>Яхваров Д.Г. – д. х. н. (ИОФХ им. Арбузова РАН, г. Казань) </li>
  <li>Курмаз В.А. – к. х. н. (ИПХФ РАН, г. Черноголовка), (Секретарь научного комитета), kurmaz@icp.ac.ru </li>
</ul>
<p class="fix">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
{% endblock %}
