{% extends 'base.html' %}
{% block content %}
<h2>Научный комитет</h2>
<p><b>Председатели:</b></p>
<ul>
  <li>Анаников В.П. – академик РАН, д.х.н., профессор (г. Москва, ИОХ РАН)</li>
  <li>Ярославцев А.Б. – член-корр. РАН, д.х.н, профессор (г. Москва, ИОНХ РАН)</li>
  <li>Кривенко А.Г. – д.ф.-м.н., профессор (г. Черноголовка, ИПХФ РАН)</li>
  <li>Добровольский Ю.А. – д.х.н., профессор (г. Черноголовка, ИПХФ РАН)</li>
</ul>
<p><b>Члены научного комитета:</b></p>
<ul>
  <li>Будникова Ю.Г. – д. х. н. (г. Казань, ИОФХ им. Арбузова РАН)</li>
  <li>Гринберг В.А. – д. х. н., профессор (г. Москва, ИФХЭ РАН)</li>
  <li>Гутерман В.Е. – д. х. н., профессор (г. Ростов-на-Дону, ЮФУ)</li>
  <li>Емец В.В. – д. х. н., профессор (г. Москва, ИФХЭ РАН)</li>
  <li>Жукова И.Ю. – д.т.н., профессор (г. Ростов-на-Дону, ДГТУ)</li>
  <li>Золотухина Е.В. – д. х. н., профессор (г. Черноголовка, ИПХФ РАН)</li>
  <li>Колзунова Л.Г. – д. х. н., профессор (г. Владивосток, ИХ ДВО РАН)</li>
  <li>Кондратьев В.В. – д. х. н., профессор (г. Санкт-Петербург, СПбГУ)</li>
  <li>Кононенко Н.А. – д. х.н., профессор (г. Краснодар, КубГУ)</li>
  <li>Корниенко В.Л. – д. х. н., профессор (г. Красноярск, ИХХТ СО РАН)</li>
  <li>Магдесиева Т. В. – д. х. н., профессор (г. Москва, МГУ)</li>
  <li>Мендкович А.С. – д. х. н., профессор (г. Москва ИОХ РАН)</li>
  <li>Парфенюк В.И. – д. х. н., профессор (г. Иваново, ИХР РАН)</li>
  <li>Савостьянов А.П. – д.т.н, профессор (г. Новочеркасск, ЮРГПУ(НПИ)</li>
  <li>Смирнова Н.В. – д.х.н, профессор (г. Новочеркасск ЮРГПУ(НПИ)</li>
  <li>Смолянинов И.В.– д.х.н. (г. Астрахань, АГТУ) </li>
  <li>Стенина Е.В. - д. х. н., профессор (г. Москва МГУ)</li>
  <li>Турыгин  В.В.  – д.х.н, (г. Москва, ГосНИИОХТ)</li>
  <li>Чернышев В.М. – д.х.н, (г. Новочеркасск, ЮРГПУ(НПИ)</li>
  <li>Шинкарь Е.В. – д. х. н. (г. Астрахань, АГТУ)</li>
  <li>Элинсон М.Н. – д. х. н. (г. Москва, ИОХ РАН)</li>
  <li>Янилкин В.В. – д. х. н. (г. Казань ИОФХ им. Арбузова РАН)</li>
  <li>Яхваров Д.Г. – д. х. н. (г. Казань, ИОФХ им. Арбузова РАН)</li>
  <li>Курмаз В.А. – к. х. н. (г. Черноголовка, ИПХФ РАН), (Секретарь научного комитета), kurmaz@icp.ac.ru</li>
</ul>
<p class="fix">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
{% endblock %}
