{% extends 'base.html' %}
{% block content %}
<h2>Организационный комитет</h2>
<p><b>Организационный комитет:</b></p>
<p><b>Председатель</b></p>
<ul>
    <li>Кривенко А. Г. – д. ф.-м. н., (г. Черноголовка ИПХФ РАН)</li>
</ul>
<p><b>Члены оргкомитета:</b></p>
<ul>
    <li>Смирнова Н.В. – д. х. н., профессор (г. Новочеркасск, ЮРГПУ(НПИ))</li>
    <li>Яковенко Р.Е – к.т.н. (г. Новочеркасск, ЮРГПУ(НПИ))</li>
    <li>Куриганова А.Б. – к.т.н. (г. Новочеркасск, ЮРГПУ(НПИ), секретарь организационного комитета</li>
    <li>Кубанова М.С. – (г. Новочеркасск, ЮРГПУ(НПИ) секретарь конференции</li>
</ul>
<p class="fix">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
{% endblock %}
