{% extends 'base.html' %}
{% block content %}
<h2>Программа</h2>
<p>Научная программа будет доступна 19 сентября 2022 г.</p>
<p>Раздел в разработке</p>
<p class="fix">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
<!--
<h3>Приглашенные докладчики</h3>
 <div class="wrapper" style="grid-template-columns: repeat(3, 1fr);">
  <div class="wrapper" style="grid-template-columns: repeat(1, 1fr); margin: 2%;">
    <img src="{{ url_for('static', filename='img/placeholder.png') }}" alt="Фото" class="sc_img">
    <p><b>Анаников Валентин Павлович</b></p>
    <p>Академик РАН, д.х.н., профессор (г. Москва, ИОХ РАН)</p>
  </div>
  <div class="wrapper" style="grid-template-columns: repeat(1, 1fr); margin: 2%;">
    <img src="{{ url_for('static', filename='img/placeholder.png') }}" alt="Фото" class="sc_img">
    <p><b>Ярославцев Андрей Борисович</b></p>
    <p>Член-корр. РАН, д.х.н, профессор (г. Москва, ИОНХ РАН)</p>
  </div>
  <div class="wrapper" style="grid-template-columns: repeat(1, 1fr); margin: 2%;">
    <img src="{{ url_for('static', filename='img/placeholder.png') }}" alt="Фото" class="sc_img">
    <p><b>Добровольский Юрий Анатольевич</b></p>
    <p>Д.х.н., профессор (г.Черноголовка, ИПХФ РАН)</p>
  </div>
 </div>
-->
{% endblock %}
