{% extends 'base.html' %}
{% block content %}
<div class="programm">
  <div class="programm-header">
    <h2>ПРОГРАММА</h2>
    <h3>XX ВСЕРОССИЙСКОГО СОВЕЩАНИЯ</h3>
    <h3>«ЭЛЕКТРОХИМИЯ ОРАНИЧЕСКИХ СОЕДИНЕНИЙ» ЭХОС-2022</h3>
  </div>
  <img src="{{ url_for('static', filename='img/tmp-prg1.png') }}" class="temp-programm">
  <img src="{{ url_for('static', filename='img/tmp-prg2.png') }}" class="temp-programm">
  <img src="{{ url_for('static', filename='img/tmp-prg3.png') }}" class="temp-programm">

  <!--
    <div class="programm-content">
    <div class="programm-content-header">
      <p>18 октября 2022 (Технологический факультет ЮРГПУ(НПИ))</p>
    </div>

    <div class="programm-stabilizer">
      <div class="programm-content-time">
        <p>10:00-14:00</p>
      </div>
      <div class="programm-content-element">
        <p>Регистрация участников (Технологический факультет ЮРГПУ(НПИ))</p>
      </div>
    </div>

    <div class="programm-stabilizer">
      <div class="programm-content-time">
        <p>14:00</p>
      </div>
      <div class="programm-content-element">
        <p>Приветственное слово проректор по НР и ИД Пузин В.С.</p>
      </div>
    </div>
    <div class="programm-stabilizer">
      <div class="programm-content-time">
        <p>14:10</p>
      </div>
      <div class="programm-content-element">
        <p>Смирнова Н.В. (ЮРГПУ (НПИ, Новочеркасск)) История Совещания «ЭХОС»</p>
      </div>
    </div>
    <div class="programm-stabilizer">
      <div class="programm-content-time">
        <p>14:20</p>
      </div>
      <div class="programm-content-element">
        <p>Анаников В.П. (ФГБУН ИОХ РАН, Москва) Искусственный интеллект в исследовании химических систем</p>
      </div>
    </div>
    <div class="programm-stabilizer">
      <div class="programm-content-time">
        <p>15:00</p>
      </div>
      <div class="programm-content-element">
        <p>Будникова Ю.Г. (ОСП ФГБУН ФИЦ КНЦ РАН ИОФХ, Казань) Электрокаталитические реакции функционализации связей углерод-водород</p>
      </div>
    </div>
    <div class="programm-stabilizer">
      <div class="programm-content-time">
        <p>15:40</p>
      </div>
      <div class="programm-content-element">
        <p>Экскурсия по ЮРГПУ(НПИ)</p>
      </div>
    </div>
    <div class="programm-stabilizer">
      <div class="programm-content-time">
        <p>17:00</p>
      </div>
      <div class="programm-content-element">
        <p>Приветственный вечер (ЮРГПУ(НПИ))</p>
      </div>
    </div>

    
    
    
  </div>
-->

</div>

<p class="fix">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
{% endblock %}
