{% extends 'base.html' %}
{% block content %}
<h2>Регистрация</h2>
<p>Желающим принять участие в Совещании, необходимо заполнить регистрационную форму не позднее 4 июля 2022 г.</p>
<a href="https://forms.gle/VvqSr3oFgK2Fuz4t9" style="color: blue; text-decoration: underline;">Форма для регистрации</a>
<p class="fix">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
{% endblock %}
