{% extends 'base.html' %}
{% block content %}
<h2>Регистрационный взнос</h2>
<img src="{{ url_for('static', filename='img/Table.png') }}" alt="Таблица" style="margin: auto; width: 80%;">
<p>Оргвзнос представителя академических организаций и вузов включает в себя публикацию тезисов, папку участника, участие во всех заседаниях конференции, кофе-брейки, welcome party, экскурсию по городу.</p>
<p>Оргвзнос за дистанционное участие включает в себя публикацию тезисов и онлайн участие в заседаниях.</p>
<p>Оргвзнос сопровождающего лица включает в себя Welcome party и экскурсию по городу.</p>
<p>** Банкет (21 октября 2022) оплачивается отдельно</p>
<p>*** Пост-тур (22 октября 2022) оплачивается отдельно.</p>
<p>При необходимости, стоимость пост-тура может быть включена в оплату оргвзноса по договору. Для этого необходимо указать о необходимости включения пост-тура в стоимость оргвзноса в регистрационной форме.</p>
<p>Стоимость пост-тура уточняется.</p>
<p>По вопросам оформления договоров обращаться к  Замараевой Ольге Павловне,</p>
<p>Тел.: +7 919-887-00-47</p>
<p>e-mail: ozam@bk.ru</p>
<br>
<a href="https://disk.yandex.ru/i/-YdWI2O8gCV-wQ" style="color: blue; text-decoration: underline;">Шаблон договора для юридических лиц</a>
<br>
<a href="https://disk.yandex.ru/i/p98LYT5tLkrn7A" style="color: blue; text-decoration: underline;">Шаблон договора для физических лиц</a>
<br>
<p class="fix">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
{% endblock %}
