{% extends 'base.html' %}
{% block content %}
<h2>Информационная поддержка</h2>
<p>Материалы совещания будут опубликованы в виде электронного сборника тезисов и размещены в РИНЦ (eLibrary.ru).  Избранные материалы в виде статей будут опубликованы в 1-м выпуске журнала «Известия вузов. Северо-Кавказский регион. Технические науки» (ВАК) в 2023г.</p>
<table style="border-color: black; border: solid; border-width: thin;">
    <tr>
        <td style="text-align: center;"> <b>Известия вузов. Северо-Кавказский регион. Технические науки ISSN 1560-3644</b></td>
    </tr>
    <tr>
        <td>
            <p>Научный журнал «Известия вузов. Северо-Кавказский регион. Технические науки» основан в 1972 году Юрием Андреевичем Ждановым.</p>
            <p>Журнал ориентирован на профессорско-преподавательский состав, аспирантов, докторантов и студентов вузов, научных и инженерно-технических работников научно-исследовательских и проектно-конструкторских институтов, промышленных предприятий и организаций.</p>
            <p>Журнал «Известия вузов. Северо-Кавказский регион. Технические науки» включен в «Перечень российских рецензируемых научных журналов, в которых должны быть опубликованы основные научные результаты диссертаций на соискание ученых степеней доктора и кандидата наук». Статьи, опубликованные в журнале, индексируются в российских и международных электронных библиотеках и наукометрических базах данных: РИНЦ, EBSCO, Киберленинка, Chemical Abstracts</p>
        </td>
    </tr>
</table>
<p>Правила для авторов:</p>
<a href="https://technauka.npi-tu.ru/ru/authors" style="color: blue; text-decoration: underline;">https://technauka.npi-tu.ru/ru/authors</a>
<p>Статьи направлять в Отдел редакции журнала “Известия вузов. Северо-Кавказский регион. Технические науки” до 1.12.2022г. с пометкой «ЭХОС-2022»</p>
<br>
<p>Тел./факс (8635) 255-3-91.</p>
<p>E-mail: technauka_novoch@mail.ru</p>
{% endblock %}
