{% extends 'base.html' %}
{% block content %}
<h2>Важные даты</h2>
<p>5 сентября 2022 года - Окончание регистрации и представления тезисов</p>
<p>11 сентября 2022 года - Уведомление о принятии</p>
<p>5 сентября 2022 года - Подтверждение участия, ранняя оплата оргвзноса</p>
<p>10 октября 2022 года - Размещение на сайте окончательной научной программы</p>
<p>18-22 октября 2022 года - Рабочие дни</p>
<p class="fix">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
{% endblock %}
