{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
  <img src="{{ url_for('static', filename='img/ilyin.png') }}" alt="Химико-технический факультет ЮРГПУ (НПИ)" style="width: 90%; margin: 5%; grid-column-start: 1;">
  <div>
      <h1>Ильин</h1>
      <h2>Константин Григорьевич</h2>
      <h2>(1902 – 1984 Годы)</h2>
      <p>Доцент (1956), профессор (1966),
заведующий кафедрой технологии
неорганических веществ (1956-1982)
в НПИ (сейчас Южно-Российском государственном
политехническом университете (Новочеркасский
политехнический институт) имени М.И. Платова)
</p>
  </div>
</div>
<p>В 1935 году окончил Донской политехнический институт (сейчас ЮРГПУ (НПИ)) и получил квалификацию инженера химика-технолога. Три года работал в сернокислот-ном производстве (г. Дзержинск, Горьковской обл.), в 1938 году поступил в аспирантуру НПИ. С 1941 по 1945 гг. - участник ВОВ. С 1956 по 1982 гг. заведовал кафедрой «Техно-логия неорганических веществ». </p>
<p>С 1958 год руководил проблемной опытно-экспериментальной лабораторией (ОЭЛ), созданной в НПИ по решению Совета Министров СССР. В 1963 году по совокуп-ности научных работ ученый совет МХТИ им. Менделеева присудил К.Г. Ильину ученую степень доктора технических наук, в 1966 г. он утвержден в звании профессора. </p>
<p>Впервые в мире совместно с Д.П. Семченко и В.А. Смирновым разработаны непре-рывные одностадийные способы получения хлорной кислоты и перхлората натрия при электроокислении ионов хлора. Около 50 лет под руководством К.Г. Ильина активно раз-вивалась школа электрохимического синтеза высших кислородных соединений хлора.</p>
<p>К.Г. Ильин опубликовал более 150 статей, получил 36 авторских свидетельств на изобретения, под его руководством выполнено и защищено 26 кандидатских и 3 доктор-ских диссертации. </p>
<p>В 1966 г. инициированы исследования по проблеме "Очистка и рекуперация отхо-дов промышленных предприятий и тепловых электростанций". Технологические процес-сы являлись каталитическими. В 1972 г. лаборатория катализаторов и каталитических ре-акций сформировалась не только формально, но и сумела заявить о себе на всесоюзном уровне. Ряд публикаций нашли отклик за рубежом. Каталитические системы были испы-таны в Государственном институте цветных металлов, Донецком заводе химических ре-активов. Научные результаты доложены на Всесоюзных конференциях в Днепропетров-ске, Москве, Одессе. Катализаторы отличались повышенной термо- и ядостойкостью. </p>
<p>Мощным толчком для развития лаборатории явилось начало работ по катализато-рам для высокотемпературного обратимого превращения SO2 в SO3. Сотрудники лабора-тории одними из первых в стране системно рассмотрели процесс, который представляет большой интерес для атомно-водородной энергетики, производства серной кислоты. Приоритет в этой области подтвержден рядом авторских свидетельств по катализаторам и способам окисления SO2. Интерес к результатам работ проявили ученые НИУИФ им. Са-мойлова, ИАЭ им. Курчатова, института катализа СО АН СССР, ИОХ АН СССР, США, Канады, Испании. Пилотные испытания катализаторов в процессе разложения серной кислоты проведены в Гомеле.</p>
<p>В начале 80 – х годов в лаборатории начаты работы по катализаторам синтеза уг-леводородов.</p>
<p class="fix">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
{% endblock %}
