{% extends 'base.html' %}
{% block content %}
<h2>Контакты</h2>
<p><i><b>Огркомитет:</b></i></p>
<p><b>Кривенко Александр Георгиевич</b> - Председатель организационного комитета</p>
<p>e-mail: krivenko@icp.ac.ru</p>
<br>
<p><b>Смирнова Нина Владимировна</b></p>
<p>e-mail: smirnova_nv@mail.ru</p>
<br>
<p><b>Яковенко Роман Евгеньевич</b> - Вопросы по участию в «Круглом столе»</p>
<p>e-mail: jakovenko39@gmail.com</p>
<br>
<p><b>Курмаз Владимир Александрович</b> - Секретарь научного комитета</p>
<p>e-mail: kurmaz@icp.ac.ru</p>
<br>
<p><b>Куриганова Александра Борисовна</b> - Секретарь организационного комитета</p>
<p>e-mail: kuriganova_@mail.ru</p>
<p>Тел.: +7-908-197-51-87</p>
<br>
<br>
<p><b>Марина Сергеевна Кубанова</b> - Секретарь Совещания – вопросы регистрации и предоставления тезисов</p>
<p>e-mail: ehos2022@mail.ru</p>
<p>Тел.: +7-908-502-22-15</p>
<br>
<br>
<p><b>Замараева Ольга Павловна</b>– технический секретарь Совещания, оформление договоров.</p>
<p>e-mail: ozam@bk.ru</p>
<p>Тел.: +7-919-887-00-47</p>
<p class="fix">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
{% endblock %}
